@import url("https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&family=Yeon+Sung&display=swap");

/* 
serif : 삐침 있는 명조 계열의 글꼴
sans-serif : 삐침 없고 굵기가 일정한 고딕 계열의 글꼴
monospace : 글자 폭과 간격이 일정한 글꼴
cursive : 손으로 쓴 것 같은 필기 계열의 글꼴
fantasy : 화려한 글꼴

  font-family: "Yeon Sung", cursive;
  font-family: "Nanum Pen Script", cursive;   
*/

body {
  background-color: #f6f6f6;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Nanum Pen Script", cursive;
  min-height: 100vh;
  margin: 0px;
}

@media (min-width: 650px) {
  .App {
    width: 640px;
  }
}

/* 화면 크기가 650보다 작을 경우 */
@media (max-width: 650px) {
  .App {
    width: 90vw;
  }
}

#root {
  background-color: #fff;
  box-shadow: rgb(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.App {
  min-height: 100vh;
  padding-left: 20px;
  padding-right: 20px;
}

/* MyButton */
.MyButton {
  cursor: pointer;
  border: none;
  border-radius: 5px;

  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;

  white-space: nowrap;
  font-family: "Nanum Pen Script", cursive;
}

.MyButton_default {
  background-color: #ececec;
  color: black;
}

.MyButton_positive {
  background-color: #64c964;
  color: white;
}

.MyButton_negative {
  background-color: #fd565f;
  color: white;
}

/*  HEADER */

header {
  padding-top: 20px;
  padding-bottom: 20px;

  display: flex;
  align-items: center;
  border-bottom: 1px solid #e2e2e2;
}

header > div {
  display: flex;
}

header .head_text {
  width: 50%;
  font-size: 25px;
  justify-content: center;
}

header .head_btn_left {
  width: 25%;
  justify-content: start;
}

header .head_btn_right {
  width: 25%;
  justify-content: end;
}

header button {
  font-family: "Nanum Pen Script", cursive;
}
